
body {
	background-color: #FFFFFF;
	font-family: Serif;
	padding: 0px 0px;
	margin: 0px 10px;
}
h1 {
	font-size: 50px;
	font-family: Serif;
}
h2 {
	font-size: 25px;
	font-family: Serif;
}
h3 {
	font-size: 15px;
	font-family: Serif;
}
