:root {
  --primary: #94949F;
  --secondary: #64646B;
}

html {
	font-family: Roboto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0px;
	background: pink;
	width: 100vw;
}

/* navbar */
.navbar {
	list-style-type: none;
	margin: 0px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0px;
	top: 0px;
	position: fixed;
	text-align: center;
	border-radius: 0px;
	box-shadow: 0px 0px 5px black;
	z-index: 500;

	transition: 0.25s ease;
}

.navbar li {
	float: left;
	width: calc(100%/3);
}

/* navbar items */
.navbar li a {
	text-decoration: none;
	color: black;
	margin: 0px;
	padding: 15px 0px;
	display: block;
	background: var(--primary);
	color: black;

	transition: 0.25s ease;
}

.navbar li a:hover {
	background: var(--secondary);
	color: white;

	transition: 0.25s ease;
}

.navbar li:first-child a {
	border-radius: 0px
}

.navbar li:last-child a {
	border-radius: 0px;
}

.navbar li:first-child:last-child a {
	border-radius: 10px;
}

div.hero {
	width: 100vw;
	height: 100vh;
	background-image: url("images/hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

img.hero {
	display: block;
	margin: auto;
	width: inherit;
	height: inherit;
	
}

h1.title {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* scrollbar */

#scrollbar {
	width: 10px;
	height: 0px;
	opacity: 0;
	background: var(--primary);
	position: fixed;
	top: 0px;
	right: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px black;

	transition: opacity 1s ease;
}

/* scroll to top button */

#scrolltotop {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	border: none;
	box-shadow: 0px 0px 10px black;
	background: var(--primary);

	cursor: pointer;
}

#scrolltotop:hover {
	background: var(--secondary);
	transition: 0.25s ease;
}

@media only screen and (min-width: 768px) {
	.navbar {
		top: 10px;
		width: 300px;
		border-radius: 10px;
		top: 10px;
	}

	.navbar li:first-child a {
		border-radius: 10px 0px 0px 10px;
	}

	.navbar li:last-child a {
		border-radius: 0px 10px 10px 0px;
	}

	.navbar li:first-child:last-child a {
		border-radius: 10px 10px 10px 10px;
	}
}