/* colour themes */
:root {
	--background: #DDDDDD;
	--foreground: #FFFFFF;
	--text: #000000;
	--boxShadow: #000000;
	--boxShadowMed: #00000078;
	--boxShadowLight: #00000033;

	--background: #121212;
	--foreground: #232323;
	--text: #EEEEEE;
  
	--one: #F159FF;
	--two: #AA60E6;
	--three: #876EFA;
	--four: #6078E6;
	--five: #69B6FA;

	--gradient: linear-gradient(to bottom right, var(--one), var(--two), var(--three), var(--four), var(--five));
	--small-gradient: linear-gradient(to bottom right, var(--two), var(--four));
	--small-gradient-purple: linear-gradient(to bottom right, var(--two), var(--three));
	--small-gradient-blue: linear-gradient(to bottom right, var(--four), var(--five));
  
	--gradient-amsi-three: linear-gradient(to bottom right, #171c47, #8b2370);
	--gradient-amsi-two: linear-gradient(to bottom right, #fdbc20, #fb7004);
	--gradient-amsi-one: linear-gradient(to bottom right, #5ac0aa, #03b4bc);
  
	--gradient-f1: linear-gradient(to bottom right, #F22E0C, #DB0101);

	--gradient-black: linear-gradient(to bottom right, #000000, #000000);
  }

/* text styling */

* {
    font-family: "Roboto";
}

*::before, *::after {
    box-sizing: border-box;
}

code {
    display: block;
    width: 100%;
    font-family: Fira Code;
    font-weight: bold;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Montserrat;
    margin: 0.5em 0;
    line-height: 130%;
}

p {
    font-family: Roboto;
}

h1, .h1 {
    font-size: 50px;
    text-align: center;
}

h2, .h2 {
    font-size: 36px;
    text-align: center;
    text-shadow: 0px 0px 20px var(--boxShadowMed);
}

h3, .h3 {
    font-size: 28px;
}

h4, .h4 {
    font-size: 24px;   
}

h5, .h5 {
    font-size: 22px;
}

/* text styling */

.left {
	text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.no-top-margin {
    margin-top: 0px;
}

.gradient-underline {
    padding-bottom: 5px;
    background-image: linear-gradient(to right, var(--one), var(--two), var(--three), var(--four), var(--five));
    background-size: 100% 25%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.gradient-underline-small {
    padding-bottom: 2.5px;
    background-image: linear-gradient(to right, var(--one), var(--two), var(--three), var(--four), var(--five));
    background-size: 0% 10%;
    background-repeat: no-repeat;
    background-position: left bottom;

    transition: 0.25s;
}

.gradient-underline-small:hover {
    background-size: 100% 10%;
}

.danger {
    color: #DD0000;
    font-weight: bold;
}

p, ol li {
    font-size: 16px;
	line-height: 1.5rem;
}

ol li {
    margin-left: 5%;
}

a {
	text-decoration: underline;
    color: var(--two);
    font-weight: bold;
}

a.hide {
    text-decoration: inherit;
    color: inherit;
    font-weight: normal;
}

a.bold {
    text-decoration: inherit;
    color: inherit;
    font-weight: bolder;
}

.icon-header {
    padding: 10px;
    font-size: 100px;
}

/* element styling */
* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	background: transparent;
	height: 8px;
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	background: var(--foreground);
	border-radius: 4px;
	box-shadow: 0px 0px 10px (--boxShadow)
}

html {
	font-family: Roboto;
	background: var(--background);
	color: var(--text);

	transition: 0.25s;
}

body {
	width: calc(100vw - (100vw - 100%));
}

img {
	margin: 10px 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	border-radius: 10px;
}

img.small {
	width: 60%;
}

iframe {	
	border-radius: 10px;
	border: none;
}

a.button, button {
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	border: none;
	box-shadow: 0px 0px 10px var(--boxShadowMed);
	background: var(--foreground);
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	color: white;
	z-index: 1;
	float: left;

	transition: 0.25s ease;
}

a.button:hover, button:hover, a.button:focus, a.button:focus {
	background: var(--two);
	transition: 0.25s ease;
}

a.right, button.right {
	float: right;
}

hr {
	width: 100%;
	border: none;
	height: 0.25rem;
	background-color: var(--text);
	border-radius: 0.125rem;
	margin: 0.5rem 0px;
	text-align: center;
}

hr.or::after {
	content: "OR";
}

/* inputs */

form {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

form .row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

form .row input {
	flex-grow: 6;
}

form .row input[type=button] {
	width: 12ch;
}

input {
    border-radius: 5px;
    background: var(--background);
    color: var(--text);
    display: inherit;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
}
input[type=number] {
    padding: 0.5rem 0.25rem;
    flex-basis: 0;
    width: 5ch;
    text-align: center;
    -moz-appearance: textfield;
}

input[type=button] {
    width: auto;
    transition: 0.25s ease;
}

input[type=button]:hover {
    background: var(--four);
    transition: 0.25s ease;
}

input[type=checkbox] {
    border: none;
}

.remover {
	display: inline;
	transition: 0.25s;
}

.remover:hover {
	color: red;
	cursor: pointer;
}

.pill {
	font-size: 14px;
	display: inline-block;
	margin: 1rem 0;
	margin: 0px 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	background: var(--background);
	box-shadow: 0px 0px 10px var(--boxShadowMed);
}

/* navbar */
#navbar {
	background: var(--foreground);
	list-style-type: none;
	width: 100%;
	left: 50%;
	top: 0px;
	transform: translateX(-50%);
	position: fixed;
	text-align: center;
	z-index: 500;

	transition: 0.25s;
}

#navbar li {
	float: left;
	width: calc(100%/3);
}

/* navbar items */
.navbar-item {
	text-decoration: none;
	font-size: 1.25em;
	padding: 15px 0px;
	display: block;

	transition: 0.25s;
}

#navbar li a {
	color: #FFFFFF;

	transition: 0.25s;
}

#navbar li a:hover, #navbar li a:focus {
	background: var(--two);

	transition: 0.25s;
}

#navbar li:first-child a {
	border-radius: 0px
}

#navbar li:last-child a {
	border-radius: 0px;
}

#navbar li:first-child:last-child a {
	border-radius: 10px;
}

/* loading screen */

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;

	z-index: 1;
}

#progress-background {
	width: 100%;
	height: 2rem;
	border-radius: 1rem;
	background: var(--background);
}

#progress-bar {
	width: 0%;
	height: 2rem;
	border-radius: 1rem;
	background: var(--two);

	transition: 0.25s linear;
}

/* hero banner */
#hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: calc(100vw - (100vw - 100%));
	height: max(100vh, 600px);
	text-align: center;
	background: var(--foreground);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 20px var(--boxShadow);
	overflow: hidden;
}

#hero.hero-small {
	height: max(50vh, 300px);
	align-items: flex-start;
	padding: 0px min(10rem, 5%);
	text-align: left;
}

#hero.hero-small ul {
	margin-left: 10%;
}

#hero-text h1 {
	position: relative;
	font-size: 4rem;
	text-shadow: 0px 0px 20px var(--boxShadowMed);
	z-index: 1;
}

#hero-text-small h1 {
	text-align: left;
}

.hero-pattern-new {
	background: url(images/hero-background.svg);
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	/* opacity: 50%; */
	filter: blur(10px);
}

.hero-pattern {
	width: 100%;
	aspect-ratio: 5;
	background: url(images/background-pattern.svg);
	background-size: auto 100%;
	position: absolute;
	margin-top: auto;
}

#hero-pattern-left {
	background-position: right;
	right: 75%;
}

#hero-pattern-right {
	background-position: left;
	left: 75%;
}

#pfp {
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0px 0px 20px var(--boxShadowMed);
	width: 7.5rem;
	height: 7.5rem;
	margin: 0px;
}

#title {
	color: var(--text);
	text-align: center;
	line-height: 1em;
	margin: 0.25em;
	width: 9ch;
}

#title.title-left {
	text-align: left;
	margin-left: 10%;
}

#social-icons ul {
	list-style-type: none;
}

.social-icon {
	display: inline-block;
	font-size: 20px;
	color: var(--text);
	padding: 5px;
}

.social-icon a {
	text-decoration: none;
	color: var(--text);
	filter: drop-shadow(0px 0px 5px black);
}

/* scroll to top button */

#scrolltotop {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	border: none;
	box-shadow: 0px 0px 10px var(--boxShadow);
	background: var(--four);
	z-index: 500;
	opacity: 0;
	cursor: pointer;

	transition: 0.25s;
}

#scrolltotop:hover {
	background: white;

	transition: 0.25s;
}

#scrolltotop p {
	text-align: center;
	font-size: 2em;
	color: white;

	transition: 0.25s;
}

#scrolltotop:hover p {
	color: var(--four);

	transition: 0.25s;
}

#scrollCaret {
	padding: 25px;
	font-size: 2em;
	color: white;
	top: calc(100vh - 100px);
	animation: fadeAnimation 2s infinite;
}

#scrollCaret span {
	transition: 0.25s;
}

/* cards */
.card {
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0px 0px 10px var(--boxShadowMed);
	background: var(--foreground);

	transition: 0.25s ease;
}

.card-hover {
	box-shadow: none;
}

.card-hover:hover {
	box-shadow: 0px 0px 20px var(--boxShadowMed);
	transform: scale(1.05);
	cursor: pointer;

	transition: 0.25s ease;
}

/* containers */
.container {
	margin: 20px auto;
	width: min(70ch, 90%);
}

.container-medium {
	margin: 20px auto;
	width: 65%;
}

.container-large {
	margin: 20px auto;
	width: min(1920px, 85%);
}

.container-flexible {
	margin: 20px auto;
}

.container-large-old {
	display: flex;
	width: 95%;
	justify-content: space-evenly;
	flex-wrap: wrap;

	transition: 0.25s ease;
}

.header {
	padding: 10px;
	color: #FFFFFF;
	border-radius: 10px 10px 0px 0px;
	text-align: center;

	transition: 0.25s;
}

/* gradient-classes */
.gradient-small-blue {
	background: var(--small-gradient-blue);
}

.gradient-small-purple {
	background: var(--small-gradient-purple)
}

.gradient-small {
	background: var(--small-gradient);
}

.gradient-amsi-three {
	background: var(--gradient-amsi-three);
}

.gradient-amsi-two {
	background: var(--gradient-amsi-two);
}

.gradient-amsi-one {
	background: var(--gradient-amsi-one);
}

.gradient-f1 {
	background: var(--gradient-f1);
}

/* footer */
.footer {
	padding: 25px 5%;
	background: var(--foreground);
	border-radius: 0px 0px 10px 10px;
	flex-direction: row;

	transition: 0.25s;
}

.column {
	flex: 0 0;
	flex-direction: column;
	margin: 10px;

	transition: 0.25s ease;
}

.col-1 {
	width: 100%;
}

.col-2 {
	flex-basis: 40%;
}

.col-3 {
	flex-basis: 30%;
}

.col-4 {
	flex-basis: 75%;
}

.red {
	background: red;
}

.half {
	width: 40%;
	margin: 5% 0;
}

/* carousel */
.carousel {
	width: 100%;
	display: flex;
	align-items: center;
	overflow-x: scroll;
	scrollbar-width: thin;
}

.carousel-item {
	flex-shrink: 0;
	width: min(80%, 350px);
	background: var(--foreground);
	box-shadow: 0px 0px 10px var(--boxShadowMed);
	border-radius: 10px;
	margin: 10px;
	align-self: stretch;

	transition: 0.25s;
}

.carousel-see-all-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: var(--foreground);
	box-shadow: 0px 0px 10px var(--boxShadowMed);
	border-radius: 10px;
	margin: 10px;
	width: 100px;
	transition: 0.25s;
}

.carousel-see-all-button:hover {
	background: var(--three);
	
	transition: 0.25s;
}

.carousel-see-all-button * {
	text-align: center;
}

.see-all-button {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* contact thingo */
.contact-content {
	width: 100%;
}

.contact-container {
	width: 100%;
	margin: 1rem 0px;
	display: flex;
	flex-direction: row;
	text-align: center;
}

.contact-container div {
	flex-basis: 100%;
}

/* animations */
@keyframes fadeAnimation {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 768px) {
	#navbar {
		top: 10px;
		width: 300px;
		border-radius: 10px;
		top: 10px;
	}

	#navbar li:first-child a {
		border-radius: 10px 0px 0px 10px;
	}

	#navbar li:last-child a {
		border-radius: 0px 10px 10px 0px;
	}

	#navbar li:only-child a {
		border-radius: 10px 10px 10px 10px;
	}

	.col-4 {
		flex-basis: 40%;
	}
}

@media screen and (min-width: 1366px) {
	.col-4 {
		flex-basis: 25%;
	}
}

@media screen and (max-width: 600px) {
	.half {
		width: 90%;
	}
}

/*@media (prefers-color-scheme: light) {
    :root {
		--background: #EEEEEE;
		--foreground: #FFFFFF;
		--text: #000000;
	}
}

@media (prefers-color-scheme: dark) {
    :root {
		--background: #121212;
		--foreground: #232323;
		--text: #EEEEEE;
	}
}*/