:root {
	--summer-one: #17BCC1;
	--summer-two: #93BC52;

	--autumn-one: #F58220;
	--autumn-two: #DE3126;

	--winter-one: #DFE3E3;
	--winter-two: #11528E;

	--spring-one: #FAC7C3;
	--spring-two: #4C69A4;
}

* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	font-family: Roboto;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

#splashscreen {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 1;

	transition: 1s;
	transition-delay: 2s;
}

#title-container {
	font-size: max(50px, 4vw);
	text-align: center;
}